.vscode/**
.gitignore
vsc-extension-quickstart.md
**/node_modules
out/**
src/**
.idea/**
.git/**
*.vsix
.DS_Store
test-workspace/
.nyc_output/
.github/
.travis.yml
appveyor.yml
.eslintignore
.eslintrc.json
tsconfig.json
webpack.config.js
**/test/**
**/tests/**
*.yml
*.md
!README.md
!LICENSE
!CHANGELOG.md
